@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header {
    width: 100%;
    padding: 28px 8%;
}

section {
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 100px;
    height: 100px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(35, 157, 238);

}

.nav-item.active a {
    color: rgb(35, 157, 238);
    
}

.btn-default {
    border: none;
    background-color: rgb(35, 157, 238);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 5px 1px #033b70;
    cursor: pointer;
}

#home {
    display: flex;
    min-height: calc(50vh - 156px);
}

#banner {
    width: 60%;
    margin: 0px 0px 0px 300px;
}

#banner img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

#cta {
    width: 25%;
    flex-direction: column;
    gap: 28px;
}

#cta .title {
    font-size: 5rem;
    color: #033b70;

}

#cta .title span {
    color: rgb(17, 123, 194);
}

#cta .description {
    font-size: 2rem;
}

#cta_buttons {
    display: flex;
    gap: 40px;
}

#lecture {
    display: grid;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    color: #033b70;
}

#themes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    margin-top: 50px;
    gap:30px;
}

.theme{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.theme img {
    width: 400px;
    height: 290px;
    border-radius: 10px;
}

.theme-title {
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
}

#lecture_closed{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin-top: 50px;
}

#lecture-registered{
    
    display: grid;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.registered-title{
    text-align: center;
    font-size: 4rem;
    color: #15548f;
    margin-top: 0;
}
#registred-banner img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
.theme-description{
    font-size: 11px;
    margin: 10px 0px 10px 0px;
    
}
.theme-date{
    font-size: 17px;
}
.theme-vacancies{
    font-size: 13px;
    margin-bottom: 5px;
}